@charset "UTF-8";

:root {
    --cor01: #D90404;
    --cor02: #8C0303;
    --cor03: #F2F2F2;
    --cor04: #FFFFFF;
    --cor05: #404040;
    --cor06: #0D0D0D;
}

header {
    background-color: var(--cor01);
    color: var(--cor04);
    padding: 10px;
    text-align: center;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.533);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header > h1 {
    margin: auto;
}

header > img#brasao {
    width: auto;
    height: 100px;
}

section {
    padding: 20px;
    text-align: justify;
}

section > h2 {
    text-align: center;
    margin-bottom: 10px;
}

article > p {
    text-indent: 10px;
    margin: auto;
}

article.conteudo {
    margin-top: 10px;
    width: 950px;
    margin: auto;
}

section#sobre-nos > article.conteudo, section#principais-atracoes > article.conteudo {
    text-align: center;
}

section#sobre-nos > article.conteudo > p, section#principais-atracoes > article.conteudo > p {
    text-align: justify;
}

img.imgModal {
    width: 500px;
    height: 400px;
    border-radius: 10px;
    scale: 1;
    transition: 0.5s;
    margin: 20px;
}

img.imgModal:hover {
    scale: 1.1;
    transition: 0.5s;
    cursor: zoom-in;
    transition: 0.3s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.conteudoDoModal {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 700px;
}

/* Caption of Modal Image */
#legenda {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
/* Add Animation */
.conteudoDoModal, #legenda {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
/* The Close Button */
.fecharModal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.fecharModal:hover, .fecharModal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

section#chegar-ate-nos, section#principais-atracoes {
    background-color: var(--cor06);
    color: var(--cor04);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.533);
}

section#chegar-ate-nos > article.conteudo {
    display: block;
    text-align: center;
}

section#chegar-ate-nos > article.conteudo > p {
    text-align: justify;
}

iframe {
    margin: 15px;
    width: 700px;
    height: 350px;
}

a {
    color: var(--cor04);
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    color: var(--cor01);
    text-decoration: underline;
}

footer {
    background-color: var(--cor05);
    color: var(--cor04);
    text-align: center;
    padding: 20px;
}