:root {
    --cor01: #0b0be0;
    --cor02: #040465;
    --cor03: #e0c00b;
}

body {
    font: 1.2em Arial;
    text-align: center;
}

header {
    display: block;
}

header > h1 {
    color: var(--cor01);
}

.tema {
    width: 50px;
    height: 50px;
    background: url("imagens/eclipse.png");
    background-size: cover;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.btn {
    width: 200px;
    height: 100px;
    font: Bold 1.2em Arial;
    background-color: var(--cor01);
    color: #ffffff;
    border: 1px solid var(--cor01);
    border-radius: 15px;
    margin: 20px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition-duration: 1s;
}

.btn:hover {
    transform: scale(1.2);
    transition-duration: 1s;
    cursor: pointer;
}

.btn:active {
    background-color: var(--cor02);
    transform: scale(1);
    transition-duration: 1s;
}

#recomecar {
    width: 150px;
    height: 50px;
    font: Bold 14pt Arial;
    background-color: var(--cor03);
    color: #ffffff;
    border: 1px solid var(--cor03);
    border-radius: 15px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition-duration: 1s;
    cursor: pointer;
}

#recomecar:hover {
    transform: scale(1.2);
    transition-duration: 1s;
}

footer {
    font-style: Italic;
}

footer > p > a {
    text-decoration: none;
    font-weight: bold;
    color: #0b0be0;
}

footer > p > a:hover {
    text-decoration: underline;
}